::root{
	--border-color: rgba(201,159,121,0.5);
}

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body{
  margin:0;
  background-color: gray;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/Grass\ Dark\ Rocky.jpg");
  background-repeat: repeat;
  background-size: 300px;
  z-index: 4;
}

#container-top{
  display:flex;
  justify-content: space-between;
  background-color: gray;
  /* min-width: 75vw; */
  /* border-top: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid;
  border-color: rgba(0, 0, 0, 1);  */
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  /* margin: 2px 2px 0 2px; */
  max-width: 1600px;
  /* z-index: 5; */
}



#border-ext{  
  background-image: url("../assets/gameBorder.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1900px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 1500px;
  /* background-color: transparent; */
  /* background-size: 1600px; */
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
}

#container-bottom{
  display:flex;
  justify-content: space-between;
  background-color: gray;
  /* min-width: 75vw; */
  /* border-bottom: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid;
  border-color: rgba(0, 0, 0, 1); */
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  /* margin: 0 2px 2px 2px; */
  max-width: 1600px;
  background-image: url("../assets/parchment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#display-area{
  background-color: lightgray;
  position: relative;
  /* border: 1px solid black; */
  width: 1280px;
  height: 800px;
  background-image: url("../assets/room.png");
  background-size: cover;
  z-index: 1;
}

#left-door{
  background-image: url("../assets/tile_objects/leftDoor.png");
  background-size: cover;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
}

#right-door{
  background-image: url("../assets/tile_objects/rightDoor.png");
  background-size: cover;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
}
#torch-left{
  background-image: url("../assets/tile_objects/torch_L.png");
  background-size: cover;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
}
#torch-right{
  background-image: url("../assets/tile_objects/torch_R.png");
  background-size: cover;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
}

#back-door{
  background-image: url("../assets/tile_objects/backDoor.png");
  background-size: cover;
  z-index: 10;
  position:absolute;
  width: 100%;
  height: 100%;
}

#right-panel{
  width: 320px;
  /* border: 1px solid black; */
  background-color: rgb(170, 161, 161);
}

#text-wrapper{
  padding:25px;
  /* background-color: rgb(247, 184, 184); */
  /* border: 1px solid black; */
  /* background: transparent; */
}

#text-log{
  height:275px;
  max-height: 300px;
  width: 1230px;
  border: 3px solid black;
  border-radius: 0;
  /* background-color: blue; */
  padding: 25px;
  overflow-y: scroll;
  scrollbar-color: black;
  

}

#nav{
  width:320px;
  /* border: 1px solid black; */
  /* background: antiquewhite; */
  display:flex;
  justify-content: center;
  background-image: url("../assets/nav/arrow_surround.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
}

#button-container{
  /* margin-top: 40px; */
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#button-container div{
  display:flex;
  gap: 10px;
}

.nav-btn{
  background-size: cover;
  background-color: antiquewhite;
  box-shadow: 0 0 5px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.nav-spc{
  width: 75px;
  height: 75px;
}

.nav-btn:hover{
  filter: brightness(1.3);
}

.nav-btn:active{
  filter: brightness(0.7);
  box-shadow: inset 0 0 3px;
}

#nav-move-forward{
  background-image: url('../assets/nav/forward.png');
}
#nav-move-back{
  background-image: url('../assets/nav/back.png');
}
#nav-move-left{
  background-image: url('../assets/nav/strafe_left.png');
}
#nav-move-right{
  background-image: url('../assets/nav/strafe_right.png');
}